# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
.env

# Node
node_modules/
dist/
build/

# Environment variables
.env
.env.local
.env.development
.env.production
.env.test


# macOS
.DS_Store

# IDE
.vscode/
.idea/

.venv/
__pycache__/
node_modules/
*.bin
*.vec
*.pth
*.pt
*.h5
